# Ignore node_modules (npm packages)
node_modules/

# Ignore log files
npm-debug.log*

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore macOS system files
.DS_Store


# Ignore build directories
/build/
/dist/
/out/

# Ignore coverage results from tests
/coverage/

# Ignore Vite specific output (used for bundling)
.vite

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore Firebase service accounts or config files
firebase-service-account.json

# Ignore editor-specific settings (VSCode)
.vscode/
.idea/
